@model IEnumerable<LibraryBookSystem.Models.BookOnLoan>

@{
    ViewBag.Title = "Index";
}

<h2>Log of Books borrowed</h2>

<p>
    @Html.ActionLink("Borrow Book", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Date Issued
            
        </th>
        <th>
            Due Date for Return
        </th>
        <th>
            Actual Returned Date
        </th>
        <th>
            ISBN
        </th>
        <th>
            First Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDueForReturn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualDateReturned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibUser.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OnLoanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OnLoanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OnLoanID })
        </td>
    </tr>
}

</table>
